#canvas-viewport {
    width: 1080px;
    height: 1080px;
    background-color: #000;
    transform-origin: center center;
}

.tool-btn {
    @apply w-10 h-10 flex items-center justify-center rounded-xl text-gray-500 hover:bg-white/5 transition-all;
}
.tool-btn.active {
    @apply bg-emerald-500 text-black shadow-lg shadow-emerald-500/20;
}

.thumb-img {
    @apply aspect-square w-full bg-white/5 rounded-lg object-cover cursor-pointer border-2 border-transparent hover:border-emerald-500 transition-all;
}

/* スライダーの見た目 */
input[type=range] {
    -webkit-appearance: none;
    height: 4px;
    background: rgba(255,255,255,0.1);
    border-radius: 2px;
}
